In [1]:
import pandas as pd

# Loads the dataset
df = pd.read_csv("Employed Persons by Major Occupation.csv", skiprows=1)

df.head(20)

,Geolocation,Major Occupation,2018 January Male,2018 January Female,2018 April Male,2018 April Female,2018 July Male,2018 July Female,2018 October Male,2018 October Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
0,PHILIPPINES,Managers,3244.009,3541.049,3093.180,3447.790,2953.884,3474.612,3186.420,3411.726,...,1548.065,1553.296,1545.165,1765.796,1295.256,1754.707,1675.830,1570.561,1055.854,788.437
1,PHILIPPINES,Professionals,808.350,1394.646,828.457,1370.048,778.785,1463.795,830.533,1495.911,...,782.403,1761.261,805.840,1235.408,810.259,1454.679,921.547,1833.471,834.477,1677.566
2,PHILIPPINES,Technicians and Associate Professionals,807.865,727.165,882.455,799.696,916.109,873.420,829.729,813.605,...,891.606,788.750,715.896,897.911,819.012,688.582,911.037,899.234,857.480,941.969
3,PHILIPPINES,Clerical Support Workers,915.972,1430.902,939.934,1464.776,966.424,1364.978,1054.992,1418.932,...,1123.189,1673.830,1122.985,1795.191,1241.779,1836.890,1416.957,1645.740,1306.441,1969.136
4,PHILIPPINES,Service and Sales Workers,2889.855,3265.865,2812.570,3243.550,2826.910,3295.546,2875.541,3474.015,...,3693.635,5963.519,3336.237,5495.375,3176.499,5481.377,3551.249,5134.454,3855.617,6516.319
5,PHILIPPINES,Skilled Agricultural Forestry and Fishery Workers,4506.360,970.830,4234.289,860.640,3983.794,819.147,4166.409,843.326,...,4530.775,1016.905,4682.552,1013.412,4350.293,992.131,4580.855,1536.970,4992.341,1150.298
6,PHILIPPINES,Craft and Related Trades Workers,2548.631,417.556,2888.879,518.554,2840.803,498.019,2773.997,435.056,...,2524.307,414.521,2622.357,570.327,2779.400,529.722,2639.898,600.267,2681.901,592.615
7,PHILIPPINES,Plant and Machine Operators and Assemblers,2378.154,277.367,2312.611,245.822,2347.650,290.580,2348.531,291.953,...,2824.628,367.595,3072.745,590.425,3220.932,251.889,2769.729,593.382,3047.741,206.805
8,PHILIPPINES,Elementary Occupations,7570.992,3965.169,7237.707,3635.600,7357.368,3481.280,7399.804,3590.215,...,8772.099,4728.097,8527.687,4379.661,8484.496,4374.626,8553.933,4074.060,8494.912,5217.773
9,PHILIPPINES,Armed Forces Occupations,90.017,4.281,77.117,2.704,109.681,6.926,82.470,1.858,...,110.813,6.341,54.341,1.732,46.710,3.688,84.489,480.623,85.592,1.196
10,NCR,Managers,393.268,448.821,412.267,448.700,383.575,435.604,448.532,473.166,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.566,211.795,193.381,204.823,191.332,234.955,209.982,226.309,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,164.642,127.503,229.759,190.970,207.958,169.456,220.397,155.177,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,263.171,366.055,284.011,373.538,277.363,355.856,305.263,399.884,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,519.710,519.266,503.853,475.251,503.214,505.897,490.274,525.902,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,8.109,0.252,15.520,0.696,8.645,0.737,16.907,1.170,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,379.324,60.515,417.649,74.920,411.242,67.475,401.214,52.633,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,473.279,34.127,393.816,26.759,459.502,38.580,439.037,30.296,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,570.339,364.205,502.132,358.258,555.600,378.197,493.923,368.890,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,3.526,0.999,4.793,1.255,9.459,0.365,8.432,0.921,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000

In [2]:
# Drops all rows with PHILIPPINES in the Geolocation column
df_filtered = df[df['Geolocation'] != 'PHILIPPINES']

df_filtered.head(20)

,Geolocation,Major Occupation,2018 January Male,2018 January Female,2018 April Male,2018 April Female,2018 July Male,2018 July Female,2018 October Male,2018 October Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
10,NCR,Managers,393.268,448.821,412.267,448.700,383.575,435.604,448.532,473.166,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.566,211.795,193.381,204.823,191.332,234.955,209.982,226.309,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,164.642,127.503,229.759,190.970,207.958,169.456,220.397,155.177,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,263.171,366.055,284.011,373.538,277.363,355.856,305.263,399.884,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,519.710,519.266,503.853,475.251,503.214,505.897,490.274,525.902,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,8.109,0.252,15.520,0.696,8.645,0.737,16.907,1.170,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,379.324,60.515,417.649,74.920,411.242,67.475,401.214,52.633,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,473.279,34.127,393.816,26.759,459.502,38.580,439.037,30.296,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,570.339,364.205,502.132,358.258,555.600,378.197,493.923,368.890,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,3.526,0.999,4.793,1.255,9.459,0.365,8.432,0.921,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000
20,CAR,Managers,48.737,52.564,35.589,40.745,37.264,50.212,39.871,58.812,...,35.385,47.092,30.909,52.682,23.277,45.866,23.371,55.429,21.773,12.092
21,CAR,Professionals,18.584,43.441,16.370,33.520,14.718,36.435,17.735,40.393,...,11.544,49.660,14.356,40.639,15.337,37.277,20.058,36.824,19.663,34.959
22,CAR,Technicians and Associate Professionals,14.223,11.840,10.495,10.867,15.738,13.015,12.062,15.603,...,16.995,17.752,10.777,5.946,17.265,12.175,13.166,9.931,10.923,10.292
23,CAR,Clerical Support Workers,11.648,18.751,8.749,15.545,8.263,18.207,9.620,12.847,...,5.636,24.082,7.702,22.534,20.193,25.526,16.978,31.027,18.108,25.857
24,CAR,Service and Sales Workers,31.974,35.295,32.997,36.770,35.880,42.972,36.605,43.896,...,38.976,35.781,26.111,41.990,36.955,43.693,34.186,39.041,44.223,77.009
25,CAR,Skilled Agricultural Forestry and Fishery Workers,161.015,37.066,143.085,43.289,130.865,38.394,135.603,31.513,...,144.722,42.397,123.074,30.522,162.015,29.866,145.817,27.372,130.336,51.173
26,CAR,Craft and Related Trades Workers,29.698,3.042,35.224,2.433,33.146,1.516,32.531,2.897,...,32.665,3.219,33.347,4.279,27.275,2.642,31.625,0.725,27.067,0.809
27,CAR,Plant and Machine Operators and Assemblers,33.045,1.907,33.541,4.580,37.335,1.280,32.795,1.414,...,27.786,0.828,53.678,0.000,23.291,3.027,18.189,0.000,38.875,1.681
28,CAR,Elementary Occupations,114.344,87.650,138.972,88.425,149.784,92.193,145.485,90.123,...,129.857,91.573,150.008,100.765,134.872,89.758,152.104,123.078,146.455,80.145
29,CAR,Armed Forces Occupations,2.580,0.000,3.243,0.000,4.254,0.290,2.115,0.000,...,4.729,0.000,1.509,0.929,3.719,0.000,1.974,0.000,1.067,0.000

In [3]:
# Declares months to drop
dropped_months = ["February", "March", "May", "June", "August", "September", "November", "December"]

# Function to drop all declared months for only the years 2018, 2019, 2020
df_filtered = df_filtered.drop(columns=[
    col for col in df_filtered.columns 
    if any(month in col for month in dropped_months) and any(year in col for year in ["2018", "2019", "2020"])
])

df_filtered.head(20)

,Geolocation,Major Occupation,2018 January Male,2018 January Female,2018 April Male,2018 April Female,2018 July Male,2018 July Female,2018 October Male,2018 October Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
10,NCR,Managers,393.268,448.821,412.267,448.700,383.575,435.604,448.532,473.166,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.566,211.795,193.381,204.823,191.332,234.955,209.982,226.309,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,164.642,127.503,229.759,190.970,207.958,169.456,220.397,155.177,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,263.171,366.055,284.011,373.538,277.363,355.856,305.263,399.884,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,519.710,519.266,503.853,475.251,503.214,505.897,490.274,525.902,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,8.109,0.252,15.520,0.696,8.645,0.737,16.907,1.170,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,379.324,60.515,417.649,74.920,411.242,67.475,401.214,52.633,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,473.279,34.127,393.816,26.759,459.502,38.580,439.037,30.296,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,570.339,364.205,502.132,358.258,555.600,378.197,493.923,368.890,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,3.526,0.999,4.793,1.255,9.459,0.365,8.432,0.921,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000
20,CAR,Managers,48.737,52.564,35.589,40.745,37.264,50.212,39.871,58.812,...,35.385,47.092,30.909,52.682,23.277,45.866,23.371,55.429,21.773,12.092
21,CAR,Professionals,18.584,43.441,16.370,33.520,14.718,36.435,17.735,40.393,...,11.544,49.660,14.356,40.639,15.337,37.277,20.058,36.824,19.663,34.959
22,CAR,Technicians and Associate Professionals,14.223,11.840,10.495,10.867,15.738,13.015,12.062,15.603,...,16.995,17.752,10.777,5.946,17.265,12.175,13.166,9.931,10.923,10.292
23,CAR,Clerical Support Workers,11.648,18.751,8.749,15.545,8.263,18.207,9.620,12.847,...,5.636,24.082,7.702,22.534,20.193,25.526,16.978,31.027,18.108,25.857
24,CAR,Service and Sales Workers,31.974,35.295,32.997,36.770,35.880,42.972,36.605,43.896,...,38.976,35.781,26.111,41.990,36.955,43.693,34.186,39.041,44.223,77.009
25,CAR,Skilled Agricultural Forestry and Fishery Workers,161.015,37.066,143.085,43.289,130.865,38.394,135.603,31.513,...,144.722,42.397,123.074,30.522,162.015,29.866,145.817,27.372,130.336,51.173
26,CAR,Craft and Related Trades Workers,29.698,3.042,35.224,2.433,33.146,1.516,32.531,2.897,...,32.665,3.219,33.347,4.279,27.275,2.642,31.625,0.725,27.067,0.809
27,CAR,Plant and Machine Operators and Assemblers,33.045,1.907,33.541,4.580,37.335,1.280,32.795,1.414,...,27.786,0.828,53.678,0.000,23.291,3.027,18.189,0.000,38.875,1.681
28,CAR,Elementary Occupations,114.344,87.650,138.972,88.425,149.784,92.193,145.485,90.123,...,129.857,91.573,150.008,100.765,134.872,89.758,152.104,123.078,146.455,80.145
29,CAR,Armed Forces Occupations,2.580,0.000,3.243,0.000,4.254,0.290,2.115,0.000,...,4.729,0.000,1.509,0.929,3.719,0.000,1.974,0.000,1.067,0.000

In [4]:
# Drops all columns in the year 2018 (out of data range scope)
df_filtered = df_filtered.drop(columns=[col for col in df_filtered.columns if "2018" in col])

df_filtered.head(20)

,Geolocation,Major Occupation,2019 January Male,2019 January Female,2019 April Male,2019 April Female,2019 July Male,2019 July Female,2019 October Male,2019 October Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,..,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,..,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,35.385,47.092,30.909,52.682,23.277,45.866,23.371,55.429,21.773,12.092
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,11.544,49.660,14.356,40.639,15.337,37.277,20.058,36.824,19.663,34.959
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,16.995,17.752,10.777,5.946,17.265,12.175,13.166,9.931,10.923,10.292
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,5.636,24.082,7.702,22.534,20.193,25.526,16.978,31.027,18.108,25.857
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,38.976,35.781,26.111,41.990,36.955,43.693,34.186,39.041,44.223,77.009
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,144.722,42.397,123.074,30.522,162.015,29.866,145.817,27.372,130.336,51.173
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,32.665,3.219,33.347,4.279,27.275,2.642,31.625,0.725,27.067,0.809
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,27.786,0.828,53.678,0.000,23.291,3.027,18.189,0.000,38.875,1.681
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,129.857,91.573,150.008,100.765,134.872,89.758,152.104,123.078,146.455,80.145
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,4.729,0.000,1.509,0.929,3.719,0.000,1.974,0.000,1.067,0.000

In [5]:
# Drops the annual column for all years
df_filtered = df_filtered.drop(columns=[col for col in df_filtered.columns if "Annual" in col])

df_filtered.head(20)

,Geolocation,Major Occupation,2019 January Male,2019 January Female,2019 April Male,2019 April Female,2019 July Male,2019 July Female,2019 October Male,2019 October Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,..,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,..,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,35.385,47.092,30.909,52.682,23.277,45.866,23.371,55.429,21.773,12.092
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,11.544,49.660,14.356,40.639,15.337,37.277,20.058,36.824,19.663,34.959
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,16.995,17.752,10.777,5.946,17.265,12.175,13.166,9.931,10.923,10.292
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,5.636,24.082,7.702,22.534,20.193,25.526,16.978,31.027,18.108,25.857
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,38.976,35.781,26.111,41.990,36.955,43.693,34.186,39.041,44.223,77.009
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,144.722,42.397,123.074,30.522,162.015,29.866,145.817,27.372,130.336,51.173
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,32.665,3.219,33.347,4.279,27.275,2.642,31.625,0.725,27.067,0.809
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,27.786,0.828,53.678,0.000,23.291,3.027,18.189,0.000,38.875,1.681
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,129.857,91.573,150.008,100.765,134.872,89.758,152.104,123.078,146.455,80.145
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,4.729,0.000,1.509,0.929,3.719,0.000,1.974,0.000,1.067,0.000

In [6]:
# Declares the quarters in the dataset
# Group/Bin Values
quarters = [
    ("January", ["January", "February", "March"]),
    ("April", ["April", "May", "June"]),
    ("July", ["July", "August", "September"]),
    ("October", ["October", "November", "December"]),
]

genders = ["Male", "Female"]

# Gets the values for the quarters in the year 2021 for both Male and Female separately
# Values are placed in the declared quarters as the average of each three months per quarter
for gender in genders:
    for quarter, months in quarters:
        df_filtered[f"2021 {quarter} {gender}"] = df_filtered[
            [f"2021 {month} {gender}" for month in months]
        ].mean(axis=1)

df_filtered.head(20)

,Geolocation,Major Occupation,2019 January Male,2019 January Female,2019 April Male,2019 April Female,2019 July Male,2019 July Female,2019 October Male,2019 October Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,..,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,..,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,35.385,47.092,30.909,52.682,23.277,45.866,23.371,55.429,21.773,12.092
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,11.544,49.660,14.356,40.639,15.337,37.277,20.058,36.824,19.663,34.959
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,16.995,17.752,10.777,5.946,17.265,12.175,13.166,9.931,10.923,10.292
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,5.636,24.082,7.702,22.534,20.193,25.526,16.978,31.027,18.108,25.857
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,38.976,35.781,26.111,41.990,36.955,43.693,34.186,39.041,44.223,77.009
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,144.722,42.397,123.074,30.522,162.015,29.866,145.817,27.372,130.336,51.173
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,32.665,3.219,33.347,4.279,27.275,2.642,31.625,0.725,27.067,0.809
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,27.786,0.828,53.678,0.000,23.291,3.027,18.189,0.000,38.875,1.681
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,129.857,91.573,150.008,100.765,134.872,89.758,152.104,123.078,146.455,80.145
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,4.729,0.000,1.509,0.929,3.719,0.000,1.974,0.000,1.067,0.000

In [7]:
# Renames the previously declared quarters to their proper quarter denomination
df_filtered.rename(columns=lambda x: x.replace("January", "Q1")
                                     .replace("April", "Q2")
                                     .replace("July", "Q3")
                                     .replace("October", "Q4"), inplace=True)

df_filtered.head(20)

,Geolocation,Major Occupation,2019 Q1 Male,2019 Q1 Female,2019 Q2 Male,2019 Q2 Female,2019 Q3 Male,2019 Q3 Female,2019 Q4 Male,2019 Q4 Female,...,2021 June Male,2021 June Female,2021 August Male,2021 August Female,2021 September Male,2021 September Female,2021 November Male,2021 November Female,2021 December Male,2021 December Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,238.375,327.137,288.115,283.240,219.721,339.790,259.102,318.265,203.138,174.510
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,175.975,263.837,168.893,202.638,146.808,157.710,227.893,329.200,199.804,311.004
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,216.809,195.469,222.639,242.008,154.115,125.369,244.412,203.428,261.300,229.533
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,254.755,410.450,324.953,447.853,316.869,419.971,364.640,459.347,383.226,491.205
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,590.284,717.866,588.735,881.520,584.778,678.961,647.273,695.412,692.999,977.382
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,..,...,8.631,3.696,0.636,0.000,0.000,0.000,1.654,0.000,7.471,0.000
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,452.226,71.963,432.658,94.274,396.089,72.868,368.002,35.931,337.566,46.517
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,463.481,18.916,466.772,11.349,495.293,49.882,452.043,44.757,489.604,23.551
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,759.815,379.292,671.128,347.165,731.931,427.391,646.021,408.538,665.926,415.889
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,..,...,23.406,5.920,3.919,0.000,5.354,2.984,1.760,6.361,6.701,0.000
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,35.385,47.092,30.909,52.682,23.277,45.866,23.371,55.429,21.773,12.092
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,11.544,49.660,14.356,40.639,15.337,37.277,20.058,36.824,19.663,34.959
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,16.995,17.752,10.777,5.946,17.265,12.175,13.166,9.931,10.923,10.292
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,5.636,24.082,7.702,22.534,20.193,25.526,16.978,31.027,18.108,25.857
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,38.976,35.781,26.111,41.990,36.955,43.693,34.186,39.041,44.223,77.009
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,144.722,42.397,123.074,30.522,162.015,29.866,145.817,27.372,130.336,51.173
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,32.665,3.219,33.347,4.279,27.275,2.642,31.625,0.725,27.067,0.809
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,27.786,0.828,53.678,0.000,23.291,3.027,18.189,0.000,38.875,1.681
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,129.857,91.573,150.008,100.765,134.872,89.758,152.104,123.078,146.455,80.145
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,4.729,0.000,1.509,0.929,3.719,0.000,1.974,0.000,1.067,0.000

In [8]:
# Declares the months to be dropped (data under the columns are already integrated in respective quarters)
dropped_months = ["February", "March", "May", "June", "August", "September", "November", "December"]

# Drops the remaining months for the year 2021
df_filtered = df_filtered.drop(columns=[
    col for col in df_filtered.columns 
    if any(month in col for month in dropped_months) and any(year in col for year in ["2021"])
])

df_filtered.head(20)

,Geolocation,Major Occupation,2019 Q1 Male,2019 Q1 Female,2019 Q2 Male,2019 Q2 Female,2019 Q3 Male,2019 Q3 Female,2019 Q4 Male,2019 Q4 Female,...,2020 Q4 Male,2020 Q4 Female,2021 Q1 Male,2021 Q1 Female,2021 Q2 Male,2021 Q2 Female,2021 Q3 Male,2021 Q3 Female,2021 Q4 Male,2021 Q4 Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,245.933,370.470,301.815333,278.180667,241.389000,392.558000,255.811333,317.340000,239.498667,291.940000
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,199.901,229.747,216.829333,181.207000,178.503333,250.441667,161.843667,194.672000,206.715667,294.277333
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,207.302,169.984,206.877667,129.118667,205.647667,144.131333,200.730667,185.889000,253.414667,210.471333
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,280.186,382.026,311.972333,275.839667,285.360667,369.986333,314.690667,424.387333,359.715000,473.298000
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,537.231,638.461,586.487667,486.931333,577.318000,687.680000,584.595667,752.578000,651.943000,784.261667
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,..,...,9.300,0.704,11.502667,1.482333,7.286333,3.627667,1.999000,0.367000,6.051667,0.685667
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,339.170,42.851,414.247000,38.242333,394.456667,61.664667,396.328000,75.942667,359.159333,46.038000
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,465.437,31.134,452.245000,19.482667,445.119000,23.995000,483.902667,31.282333,459.205000,35.003333
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,549.273,272.487,572.613333,299.814333,662.744667,378.250667,692.260000,363.298000,664.606333,392.705000
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,..,...,4.451,0.000,5.265333,0.796000,14.106333,3.232667,4.694000,1.233333,3.981667,2.836333
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,30.692,43.586,22.916000,32.094333,34.010333,46.770000,27.890333,49.610333,26.414000,38.749667
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,15.131,48.521,16.330667,29.024333,14.919333,42.093667,15.094667,38.172667,18.796667,35.856667
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,11.301,16.496,12.043333,8.231333,14.145333,14.970333,13.984333,10.938000,13.096333,11.455333
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,9.943,21.620,9.658333,13.706333,5.936000,22.005667,13.211000,23.621333,15.662000,25.604333
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,34.350,33.638,31.611667,25.533000,35.459000,39.340667,32.873667,44.600333,37.253000,53.293333
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,130.435,33.928,131.867333,25.575000,153.444333,46.407667,136.471333,32.675333,144.573333,42.848333
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,36.496,1.569,34.476333,2.043333,29.524333,4.091667,32.071667,3.807333,29.698667,1.907333
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,30.919,0.691,29.558000,0.752667,29.377667,0.990333,37.179333,1.698333,28.696333,0.913000
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,137.896,78.410,149.914000,69.990333,130.963667,92.580333,145.953000,95.929667,141.357667,97.380000
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,5.894,0.589,3.278333,0.124667,3.994000,0.413000,2.890333,0.336000,2.098000,0.089000

In [9]:
# Function to check null values
print(df_filtered.isnull().sum().sum())
print((df_filtered == "").sum().sum())

0
0

In [10]:
# Function to check data types
print(df_filtered.dtypes)

Geolocation          object
Major Occupation     object
2019 Q1 Male        float64
2019 Q1 Female      float64
2019 Q2 Male        float64
2019 Q2 Female      float64
2019 Q3 Male        float64
2019 Q3 Female      float64
2019 Q4 Male        float64
2019 Q4 Female       object
2020 Q1 Male        float64
2020 Q1 Female      float64
2020 Q2 Male        float64
2020 Q2 Female      float64
2020 Q3 Male        float64
2020 Q3 Female      float64
2020 Q4 Male        float64
2020 Q4 Female      float64
2021 Q1 Male        float64
2021 Q1 Female      float64
2021 Q2 Male        float64
2021 Q2 Female      float64
2021 Q3 Male        float64
2021 Q3 Female      float64
2021 Q4 Male        float64
2021 Q4 Female      float64
dtype: object

In [11]:
# Checks all cells with values of ".."
dot_counts = (df_filtered == "..").sum()

print(dot_counts[dot_counts > 0])

2019 Q4 Female    2
dtype: int64

In [12]:
# As ".." is considered null or zero in the dataset, respectively changes all those cases to float zero
df_filtered.replace("..", 0.000, inplace=True)

print((df_filtered == "..").sum().sum())

0

In [13]:
# Checking again of data types
print(df_filtered.dtypes)

Geolocation          object
Major Occupation     object
2019 Q1 Male        float64
2019 Q1 Female      float64
2019 Q2 Male        float64
2019 Q2 Female      float64
2019 Q3 Male        float64
2019 Q3 Female      float64
2019 Q4 Male        float64
2019 Q4 Female       object
2020 Q1 Male        float64
2020 Q1 Female      float64
2020 Q2 Male        float64
2020 Q2 Female      float64
2020 Q3 Male        float64
2020 Q3 Female      float64
2020 Q4 Male        float64
2020 Q4 Female      float64
2021 Q1 Male        float64
2021 Q1 Female      float64
2021 Q2 Male        float64
2021 Q2 Female      float64
2021 Q3 Male        float64
2021 Q3 Female      float64
2021 Q4 Male        float64
2021 Q4 Female      float64
dtype: object

In [14]:
df_filtered.head(20)

,Geolocation,Major Occupation,2019 Q1 Male,2019 Q1 Female,2019 Q2 Male,2019 Q2 Female,2019 Q3 Male,2019 Q3 Female,2019 Q4 Male,2019 Q4 Female,...,2020 Q4 Male,2020 Q4 Female,2021 Q1 Male,2021 Q1 Female,2021 Q2 Male,2021 Q2 Female,2021 Q3 Male,2021 Q3 Female,2021 Q4 Male,2021 Q4 Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,245.933,370.470,301.815333,278.180667,241.389000,392.558000,255.811333,317.340000,239.498667,291.940000
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,199.901,229.747,216.829333,181.207000,178.503333,250.441667,161.843667,194.672000,206.715667,294.277333
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,207.302,169.984,206.877667,129.118667,205.647667,144.131333,200.730667,185.889000,253.414667,210.471333
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,280.186,382.026,311.972333,275.839667,285.360667,369.986333,314.690667,424.387333,359.715000,473.298000
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,537.231,638.461,586.487667,486.931333,577.318000,687.680000,584.595667,752.578000,651.943000,784.261667
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,0.0,...,9.300,0.704,11.502667,1.482333,7.286333,3.627667,1.999000,0.367000,6.051667,0.685667
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,339.170,42.851,414.247000,38.242333,394.456667,61.664667,396.328000,75.942667,359.159333,46.038000
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,465.437,31.134,452.245000,19.482667,445.119000,23.995000,483.902667,31.282333,459.205000,35.003333
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,549.273,272.487,572.613333,299.814333,662.744667,378.250667,692.260000,363.298000,664.606333,392.705000
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,0.0,...,4.451,0.000,5.265333,0.796000,14.106333,3.232667,4.694000,1.233333,3.981667,2.836333
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,30.692,43.586,22.916000,32.094333,34.010333,46.770000,27.890333,49.610333,26.414000,38.749667
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,15.131,48.521,16.330667,29.024333,14.919333,42.093667,15.094667,38.172667,18.796667,35.856667
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,11.301,16.496,12.043333,8.231333,14.145333,14.970333,13.984333,10.938000,13.096333,11.455333
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,9.943,21.620,9.658333,13.706333,5.936000,22.005667,13.211000,23.621333,15.662000,25.604333
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,34.350,33.638,31.611667,25.533000,35.459000,39.340667,32.873667,44.600333,37.253000,53.293333
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,130.435,33.928,131.867333,25.575000,153.444333,46.407667,136.471333,32.675333,144.573333,42.848333
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,36.496,1.569,34.476333,2.043333,29.524333,4.091667,32.071667,3.807333,29.698667,1.907333
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,30.919,0.691,29.558000,0.752667,29.377667,0.990333,37.179333,1.698333,28.696333,0.913000
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,137.896,78.410,149.914000,69.990333,130.963667,92.580333,145.953000,95.929667,141.357667,97.380000
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,5.894,0.589,3.278333,0.124667,3.994000,0.413000,2.890333,0.336000,2.098000,0.089000

In [15]:
# Converts values to numeric type
df_filtered = df_filtered.apply(pd.to_numeric, errors='ignore')

# Rounds values to three decimal places
df_filtered = df_filtered.round(3)

df_filtered.head(20)

C:\Users\Neal Carlos Gayapa\AppData\Local\Temp\ipykernel_17568\1132692119.py:2: FutureWarning: errors='ignore' is deprecated and will raise in a future version. Use to_numeric without passing `errors` and catch exceptions explicitly instead
  df_filtered = df_filtered.apply(pd.to_numeric, errors='ignore')

,Geolocation,Major Occupation,2019 Q1 Male,2019 Q1 Female,2019 Q2 Male,2019 Q2 Female,2019 Q3 Male,2019 Q3 Female,2019 Q4 Male,2019 Q4 Female,...,2020 Q4 Male,2020 Q4 Female,2021 Q1 Male,2021 Q1 Female,2021 Q2 Male,2021 Q2 Female,2021 Q3 Male,2021 Q3 Female,2021 Q4 Male,2021 Q4 Female
10,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,245.933,370.470,301.815,278.181,241.389,392.558,255.811,317.340,239.499,291.940
11,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,199.901,229.747,216.829,181.207,178.503,250.442,161.844,194.672,206.716,294.277
12,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,207.302,169.984,206.878,129.119,205.648,144.131,200.731,185.889,253.415,210.471
13,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,280.186,382.026,311.972,275.840,285.361,369.986,314.691,424.387,359.715,473.298
14,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,537.231,638.461,586.488,486.931,577.318,687.680,584.596,752.578,651.943,784.262
15,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,0.000,...,9.300,0.704,11.503,1.482,7.286,3.628,1.999,0.367,6.052,0.686
16,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,339.170,42.851,414.247,38.242,394.457,61.665,396.328,75.943,359.159,46.038
17,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,465.437,31.134,452.245,19.483,445.119,23.995,483.903,31.282,459.205,35.003
18,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,549.273,272.487,572.613,299.814,662.745,378.251,692.260,363.298,664.606,392.705
19,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,0.000,...,4.451,0.000,5.265,0.796,14.106,3.233,4.694,1.233,3.982,2.836
20,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,30.692,43.586,22.916,32.094,34.010,46.770,27.890,49.610,26.414,38.750
21,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,15.131,48.521,16.331,29.024,14.919,42.094,15.095,38.173,18.797,35.857
22,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,11.301,16.496,12.043,8.231,14.145,14.970,13.984,10.938,13.096,11.455
23,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,9.943,21.620,9.658,13.706,5.936,22.006,13.211,23.621,15.662,25.604
24,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,34.350,33.638,31.612,25.533,35.459,39.341,32.874,44.600,37.253,53.293
25,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,130.435,33.928,131.867,25.575,153.444,46.408,136.471,32.675,144.573,42.848
26,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,36.496,1.569,34.476,2.043,29.524,4.092,32.072,3.807,29.699,1.907
27,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,30.919,0.691,29.558,0.753,29.378,0.990,37.179,1.698,28.696,0.913
28,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,137.896,78.410,149.914,69.990,130.964,92.580,145.953,95.930,141.358,97.380
29,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,5.894,0.589,3.278,0.125,3.994,0.413,2.890,0.336,2.098,0.089

In [16]:
# Final checking of data types
print(df_filtered.dtypes)

Geolocation          object
Major Occupation     object
2019 Q1 Male        float64
2019 Q1 Female      float64
2019 Q2 Male        float64
2019 Q2 Female      float64
2019 Q3 Male        float64
2019 Q3 Female      float64
2019 Q4 Male        float64
2019 Q4 Female      float64
2020 Q1 Male        float64
2020 Q1 Female      float64
2020 Q2 Male        float64
2020 Q2 Female      float64
2020 Q3 Male        float64
2020 Q3 Female      float64
2020 Q4 Male        float64
2020 Q4 Female      float64
2021 Q1 Male        float64
2021 Q1 Female      float64
2021 Q2 Male        float64
2021 Q2 Female      float64
2021 Q3 Male        float64
2021 Q3 Female      float64
2021 Q4 Male        float64
2021 Q4 Female      float64
dtype: object

In [17]:
# Function to reset index
df_filtered.reset_index(drop=True, inplace=True)

df_filtered.head(20)

,Geolocation,Major Occupation,2019 Q1 Male,2019 Q1 Female,2019 Q2 Male,2019 Q2 Female,2019 Q3 Male,2019 Q3 Female,2019 Q4 Male,2019 Q4 Female,...,2020 Q4 Male,2020 Q4 Female,2021 Q1 Male,2021 Q1 Female,2021 Q2 Male,2021 Q2 Female,2021 Q3 Male,2021 Q3 Female,2021 Q4 Male,2021 Q4 Female
0,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,245.933,370.470,301.815,278.181,241.389,392.558,255.811,317.340,239.499,291.940
1,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,199.901,229.747,216.829,181.207,178.503,250.442,161.844,194.672,206.716,294.277
2,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,207.302,169.984,206.878,129.119,205.648,144.131,200.731,185.889,253.415,210.471
3,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,280.186,382.026,311.972,275.840,285.361,369.986,314.691,424.387,359.715,473.298
4,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,537.231,638.461,586.488,486.931,577.318,687.680,584.596,752.578,651.943,784.262
5,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,0.000,...,9.300,0.704,11.503,1.482,7.286,3.628,1.999,0.367,6.052,0.686
6,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,339.170,42.851,414.247,38.242,394.457,61.665,396.328,75.943,359.159,46.038
7,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,465.437,31.134,452.245,19.483,445.119,23.995,483.903,31.282,459.205,35.003
8,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,549.273,272.487,572.613,299.814,662.745,378.251,692.260,363.298,664.606,392.705
9,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,0.000,...,4.451,0.000,5.265,0.796,14.106,3.233,4.694,1.233,3.982,2.836
10,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,30.692,43.586,22.916,32.094,34.010,46.770,27.890,49.610,26.414,38.750
11,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,15.131,48.521,16.331,29.024,14.919,42.094,15.095,38.173,18.797,35.857
12,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,11.301,16.496,12.043,8.231,14.145,14.970,13.984,10.938,13.096,11.455
13,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,9.943,21.620,9.658,13.706,5.936,22.006,13.211,23.621,15.662,25.604
14,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,34.350,33.638,31.612,25.533,35.459,39.341,32.874,44.600,37.253,53.293
15,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,130.435,33.928,131.867,25.575,153.444,46.408,136.471,32.675,144.573,42.848
16,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,36.496,1.569,34.476,2.043,29.524,4.092,32.072,3.807,29.699,1.907
17,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,30.919,0.691,29.558,0.753,29.378,0.990,37.179,1.698,28.696,0.913
18,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,137.896,78.410,149.914,69.990,130.964,92.580,145.953,95.930,141.358,97.380
19,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,5.894,0.589,3.278,0.125,3.994,0.413,2.890,0.336,2.098,0.089

In [18]:
# Exporting to csv
df_filtered.to_csv("Test_Cleaned_DF.csv", index=False)

print("File 'Test_Cleaned_DF.xlsx' has been saved successfully.")

File 'Test_Cleaned_DF.xlsx' has been saved successfully.

In [19]:
# Test to check if csv is exported successfully
df_new = pd.read_csv("Test_Cleaned_DF.csv")

df_new.head(20)

,Geolocation,Major Occupation,2019 Q1 Male,2019 Q1 Female,2019 Q2 Male,2019 Q2 Female,2019 Q3 Male,2019 Q3 Female,2019 Q4 Male,2019 Q4 Female,...,2020 Q4 Male,2020 Q4 Female,2021 Q1 Male,2021 Q1 Female,2021 Q2 Male,2021 Q2 Female,2021 Q3 Male,2021 Q3 Female,2021 Q4 Male,2021 Q4 Female
0,NCR,Managers,372.520,397.328,410.381,460.372,435.000,414.000,452.696,419.058,...,245.933,370.470,301.815,278.181,241.389,392.558,255.811,317.340,239.499,291.940
1,NCR,Professionals,199.141,249.356,189.204,240.872,218.000,229.000,247.756,271.257,...,199.901,229.747,216.829,181.207,178.503,250.442,161.844,194.672,206.716,294.277
2,NCR,Technicians and Associate Professionals,193.275,164.637,213.310,178.293,217.000,164.000,192.622,179.903,...,207.302,169.984,206.878,129.119,205.648,144.131,200.731,185.889,253.415,210.471
3,NCR,Clerical Support Workers,345.595,440.500,308.202,430.998,323.000,439.000,323.923,484.717,...,280.186,382.026,311.972,275.840,285.361,369.986,314.691,424.387,359.715,473.298
4,NCR,Service and Sales Workers,517.466,605.185,564.047,583.954,618.000,614.000,554.993,585.930,...,537.231,638.461,586.488,486.931,577.318,687.680,584.596,752.578,651.943,784.262
5,NCR,Skilled Agricultural Forestry and Fishery Workers,7.301,0.726,10.443,0.269,17.000,1.000,6.140,0.000,...,9.300,0.704,11.503,1.482,7.286,3.628,1.999,0.367,6.052,0.686
6,NCR,Craft and Related Trades Workers,476.798,66.158,435.411,69.163,420.000,65.000,454.848,61.804,...,339.170,42.851,414.247,38.242,394.457,61.665,396.328,75.943,359.159,46.038
7,NCR,Plant and Machine Operators and Assemblers,449.373,39.245,438.028,38.761,442.000,37.000,453.602,36.653,...,465.437,31.134,452.245,19.483,445.119,23.995,483.903,31.282,459.205,35.003
8,NCR,Elementary Occupations,589.790,357.016,549.533,333.791,565.000,389.000,523.875,380.666,...,549.273,272.487,572.613,299.814,662.745,378.251,692.260,363.298,664.606,392.705
9,NCR,Armed Forces Occupations,9.585,0.228,2.904,0.503,7.000,0.000,7.054,0.000,...,4.451,0.000,5.265,0.796,14.106,3.233,4.694,1.233,3.982,2.836
10,CAR,Managers,45.992,51.578,44.421,51.100,42.523,51.448,46.357,51.396,...,30.692,43.586,22.916,32.094,34.010,46.770,27.890,49.610,26.414,38.750
11,CAR,Professionals,16.720,34.113,17.579,35.217,12.968,37.262,19.676,39.328,...,15.131,48.521,16.331,29.024,14.919,42.094,15.095,38.173,18.797,35.857
12,CAR,Technicians and Associate Professionals,11.026,16.415,13.572,13.910,9.852,14.328,15.367,14.981,...,11.301,16.496,12.043,8.231,14.145,14.970,13.984,10.938,13.096,11.455
13,CAR,Clerical Support Workers,8.769,18.364,6.885,15.615,12.732,21.578,14.902,19.165,...,9.943,21.620,9.658,13.706,5.936,22.006,13.211,23.621,15.662,25.604
14,CAR,Service and Sales Workers,30.559,38.329,34.327,38.925,30.117,39.631,30.318,39.868,...,34.350,33.638,31.612,25.533,35.459,39.341,32.874,44.600,37.253,53.293
15,CAR,Skilled Agricultural Forestry and Fishery Workers,118.782,36.453,140.580,26.633,131.494,28.924,133.641,38.544,...,130.435,33.928,131.867,25.575,153.444,46.408,136.471,32.675,144.573,42.848
16,CAR,Craft and Related Trades Workers,36.200,2.569,28.848,3.345,38.865,2.087,25.004,4.210,...,36.496,1.569,34.476,2.043,29.524,4.092,32.072,3.807,29.699,1.907
17,CAR,Plant and Machine Operators and Assemblers,26.923,2.423,25.105,2.665,31.315,1.574,31.685,1.066,...,30.919,0.691,29.558,0.753,29.378,0.990,37.179,1.698,28.696,0.913
18,CAR,Elementary Occupations,121.512,76.451,131.199,90.508,128.474,80.580,123.127,75.380,...,137.896,78.410,149.914,69.990,130.964,92.580,145.953,95.930,141.358,97.380
19,CAR,Armed Forces Occupations,1.835,0.133,4.583,0.000,4.903,0.000,4.128,0.303,...,5.894,0.589,3.278,0.125,3.994,0.413,2.890,0.336,2.098,0.089

In [20]:
# Converts from wide to long format
df_long = df_filtered.melt(
    id_vars=["Geolocation", "Major Occupation"], 
    var_name="Year_Quarter_Gender", 
    value_name="Value"
)

# Function to extract Year, Quarter, and Gender
df_long[['Year', 'Quarter', 'Type']] = df_long['Year_Quarter_Gender'].str.extract(r'(\d{4})\s(Q\d)?\s?(Male|Female)?')

# Function to group by categories and sum values
df_long = df_long.groupby(["Geolocation", "Major Occupation", "Year", "Quarter", "Type"], as_index=False)["Value"].sum()

# Converts back to wide format (pivoting the data)
df_final = df_long.pivot(index=["Geolocation", "Major Occupation", "Year", "Quarter"], 
                         columns="Type", values="Value").reset_index()

# Sorting values by Geolocation, Year, and Quarter
df_final = df_final.sort_values(by=["Geolocation", "Year", "Quarter"])

df_final.head(20)

Type,Geolocation,Major Occupation,Year,Quarter,Female,Male
0,BARMM,Armed Forces Occupations,2019,Q1,0.000,4.913
12,BARMM,Clerical Support Workers,2019,Q1,3.094,3.469
24,BARMM,Craft and Related Trades Workers,2019,Q1,5.036,36.280
36,BARMM,Elementary Occupations,2019,Q1,61.566,181.032
48,BARMM,Managers,2019,Q1,75.293,99.566
60,BARMM,Plant and Machine Operators and Assemblers,2019,Q1,0.000,49.755
72,BARMM,Professionals,2019,Q1,23.197,9.336
84,BARMM,Service and Sales Workers,2019,Q1,50.228,43.095
96,BARMM,Skilled Agricultural Forestry and Fishery Workers,2019,Q1,41.261,380.673
108,BARMM,Technicians and Associate Professionals,2019,Q1,3.954,8.075
1,BARMM,Armed Forces Occupations,2019,Q2,0.000,2.177
13,BARMM,Clerical Support Workers,2019,Q2,3.590,6.605
25,BARMM,Craft and Related Trades Workers,2019,Q2,3.355,35.079
37,BARMM,Elementary Occupations,2019,Q2,99.664,141.484
49,BARMM,Managers,2019,Q2,81.843,91.420
61,BARMM,Plant and Machine Operators and Assemblers,2019,Q2,0.637,58.667
73,BARMM,Professionals,2019,Q2,18.479,8.596
85,BARMM,Service and Sales Workers,2019,Q2,63.774,46.309
97,BARMM,Skilled Agricultural Forestry and Fishery Workers,2019,Q2,65.211,460.560
109,BARMM,Technicians and Associate Professionals,2019,Q2,10.867,5.766

In [21]:
# Function to reset index
df_final = df_final.reset_index()

df_final.head(20)

Type,index,Geolocation,Major Occupation,Year,Quarter,Female,Male
0,0,BARMM,Armed Forces Occupations,2019,Q1,0.000,4.913
1,12,BARMM,Clerical Support Workers,2019,Q1,3.094,3.469
2,24,BARMM,Craft and Related Trades Workers,2019,Q1,5.036,36.280
3,36,BARMM,Elementary Occupations,2019,Q1,61.566,181.032
4,48,BARMM,Managers,2019,Q1,75.293,99.566
5,60,BARMM,Plant and Machine Operators and Assemblers,2019,Q1,0.000,49.755
6,72,BARMM,Professionals,2019,Q1,23.197,9.336
7,84,BARMM,Service and Sales Workers,2019,Q1,50.228,43.095
8,96,BARMM,Skilled Agricultural Forestry and Fishery Workers,2019,Q1,41.261,380.673
9,108,BARMM,Technicians and Associate Professionals,2019,Q1,3.954,8.075
10,1,BARMM,Armed Forces Occupations,2019,Q2,0.000,2.177
11,13,BARMM,Clerical Support Workers,2019,Q2,3.590,6.605
12,25,BARMM,Craft and Related Trades Workers,2019,Q2,3.355,35.079
13,37,BARMM,Elementary Occupations,2019,Q2,99.664,141.484
14,49,BARMM,Managers,2019,Q2,81.843,91.420
15,61,BARMM,Plant and Machine Operators and Assemblers,2019,Q2,0.637,58.667
16,73,BARMM,Professionals,2019,Q2,18.479,8.596
17,85,BARMM,Service and Sales Workers,2019,Q2,63.774,46.309
18,97,BARMM,Skilled Agricultural Forestry and Fishery Workers,2019,Q2,65.211,460.560
19,109,BARMM,Technicians and Associate Professionals,2019,Q2,10.867,5.766

In [22]:
# Drops the index column
df_final = df_final.drop(columns=["index"])

In [23]:
df_final.head(20)

Type,Geolocation,Major Occupation,Year,Quarter,Female,Male
0,BARMM,Armed Forces Occupations,2019,Q1,0.000,4.913
1,BARMM,Clerical Support Workers,2019,Q1,3.094,3.469
2,BARMM,Craft and Related Trades Workers,2019,Q1,5.036,36.280
3,BARMM,Elementary Occupations,2019,Q1,61.566,181.032
4,BARMM,Managers,2019,Q1,75.293,99.566
5,BARMM,Plant and Machine Operators and Assemblers,2019,Q1,0.000,49.755
6,BARMM,Professionals,2019,Q1,23.197,9.336
7,BARMM,Service and Sales Workers,2019,Q1,50.228,43.095
8,BARMM,Skilled Agricultural Forestry and Fishery Workers,2019,Q1,41.261,380.673
9,BARMM,Technicians and Associate Professionals,2019,Q1,3.954,8.075
10,BARMM,Armed Forces Occupations,2019,Q2,0.000,2.177
11,BARMM,Clerical Support Workers,2019,Q2,3.590,6.605
12,BARMM,Craft and Related Trades Workers,2019,Q2,3.355,35.079
13,BARMM,Elementary Occupations,2019,Q2,99.664,141.484
14,BARMM,Managers,2019,Q2,81.843,91.420
15,BARMM,Plant and Machine Operators and Assemblers,2019,Q2,0.637,58.667
16,BARMM,Professionals,2019,Q2,18.479,8.596
17,BARMM,Service and Sales Workers,2019,Q2,63.774,46.309
18,BARMM,Skilled Agricultural Forestry and Fishery Workers,2019,Q2,65.211,460.560
19,BARMM,Technicians and Associate Professionals,2019,Q2,10.867,5.766

In [24]:
# Exporting cleaned dataset to csv
df_final.to_csv("Final_Test_Cleaned_DF.csv", index=False)

print("File 'Test_Cleaned_DF.csv' has been saved successfully.")

File 'Test_Cleaned_DF.csv' has been saved successfully.

In [25]:
# Exporting cleaned dataset to excel
df_final.to_excel("Final_Test_Cleaned_DF.xlsx", index=False)

print("File 'Test_Cleaned_DF.xlsx' has been saved successfully.")

File 'Test_Cleaned_DF.xlsx' has been saved successfully.